experiment_name: "baseline1_spatial"

data:
  root: "/kaggle/input/volleyball/volleyball_"

model:
  num_classes: 8
  class_names: [
  'l_pass', 'r_pass',
  'l_spike', 'r_spike',
  'l_set', 'r_set',
  'l_winpoint', 'r_winpoint'
  ]

training:
  batch_size: 64
  learning_rate: 0.001
  dropout: 0.6
  optimizer: "AdamW"
  weight_decay: 0.0001
  epochs: 15